<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon" href="/site_media/icon/favicon.ico" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />
  <link rel="stylesheet" href="/site_media/css/2.0/mobile.css" />
  <title>{{ BLOG_TITLE }}{% block title %}{% endblock %}</title>
</head>
<body>
  <div data-role="page" data-back-btn-text="ばっく" data-theme="b">
  <div data-role="header"><h1>{{ BLOG_TITLE }}{% block header_title %}{% endblock %}</h1>
    {% if not unenable_home_button %}<a href="/blog/mobile/" rel="external" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-left jqm-home">ほーむ</a>{% endif %}
  </div>
  <div data-role="content">
    {% block content %}{% endblock %}
  </div>
  <div data-role="footer" data-position="fixed" id="footer">
    <div data-role="navbar">
      <ul>
          <li><a href="/blog/mobile/" data-icon="home" data-transition="slidedown"{% if is_home %} class="ui-btn-active"{% endif %}>ほーむ</a></li>
          <li><a href="/blog/mobile/tag/" data-icon="star" data-transition="slidedown"{% if is_tag %} class="ui-btn-active"{% endif %}>たぐ</a></li>
          <li><a href="/blog/mobile/archives/" data-icon="grid" data-transition="slidedown"{% if is_archives %} class="ui-btn-active"{% endif %}>あーかいぶ</a></li>
      </ul>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="/site_media/js/2.0/mobile.js"></script>
<script src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
</body>
</html>
