{% extends "2.0/mobile/mobile_base.html" %}

{% block title %}- あーかいぶ{% endblock %}
{% block header_title %}- あーかいぶ{% endblock %}

{% block content %}
<ul data-role="listview" data-inset="false">
  <li data-role="list-divider">“{{ archive.year }}ねん{{ archive.month }}がつ”な記事{% ifnotequal paginator.num_pages 1 %}（{{ paginator.num_page }}/{{ paginator.num_pages }}ページめ）{% endifnotequal %}</li>
  {% for object in object_list %}
    {% include "2.0/mobile/mobile_entry_li.html" %}
  {% endfor %}

  {% include "2.0/mobile/mobile_paginator.html" %}
</ul>
{% endblock %}
