<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon" href="/site_media/icon/favicon.ico" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
  <style>
    #footer {
      text-align: center;
    }
  </style>
  <title>{{ BLOG_TITLE }}{% block title %}{% endblock %}</title>
</head>
<body>
  <div data-role="page" data-theme="b">
  <div data-role="header"><h1>{{ BLOG_TITLE }}</h1>
    {% if has_home_button %}<a href="/blog/mobile/" rel="external" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">ほーむ</a>{% endif %}
  </div>
  <div data-role="content">
    {% block content %}{% endblock %}
  </div>
  <div data-role="footer" id="footer">ReiAre! since 1996</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
</body>
</html>
