{% extends "base.html" %}
{% load blog_extras %}
{% block title %}・{{ object.title }}{% endblock %}
{% block layout %}yui-t4{% endblock %}

{% block navigation_bar %}<div id="navigationBarBox"><a href="/blog/">とっぷ</a> &gt; entry &gt; <strong>{{ object.title }}</strong></div>{% endblock %}

{% block content %}
	{% include "entry.html" %}

  {% comment %}{% if not PREVIEW %}
	<div style="text-align: center;"><div id="entryFooterBox">
		{% show_recent_entries %}
		{% show_random_entries 10 %}
		{% show_tags %}
	</div></div>
  {% endif %}{% endcomment %}
	{% show_archives %}
{% endblock %}
