.pieBehavior{behavior:url(/site_media/css/2.0/PIE.htc);}
.bottomGrayBordered{border-bottom:1px solid #cccccc;}
body{margin-top:5em;margin-bottom:5em;font-family:"Trebuchet MS",sans-serif;color:#535353;}
a{text-decoration:none;border-bottom:1px solid #cccccc;color:#535353;background-image:url(/site_media/css/2.0/images/link-bg.gif);padding:0.2em;}
a:hover,a.withBorder:hover{border-bottom:1px solid #000000;}
a.plain{border:none;background-image:none;}
a.withBorder{border-bottom:1px solid #cccccc;background-image:none;}
#header h1 a:hover{border:none;}
#header h2{font-size:0.8em;font-weight:bold;margin-left:18em;margin-top:-1.5em;padding-bottom:0.5em;}
#menubar{width:600px;}
#menubar>ul{text-align:center;margin-top:1em;margin-left:auto;margin-right:auto;}
#menubar>ul>li{display:inline;padding:0.5em 1em;margin:1em 0.5em;font-weight:bold;}
#menubar>ul>li>a:hover{text-shadow:0 0 5px rgba(255, 255, 255, 0.5);}
#content{margin-top:2.5em;margin-bottom:1em;display:none;}
#moreEntries{margin-left:1em;}
#moreEntries>ul>li{display:inline;margin:0 0.25em;}
.archives{margin:1em 3em;}
.year{line-height:1.8em;}
.year>ul{display:inline;}
.year>ul>li{display:inline;padding-right:0.5em;}
#entriesHeader{font-weight:bold;border-left:5px solid;border-bottom:1px solid;margin-bottom:1em;padding:0.2em;width:75%;}
.entriesNav{text-align:center;margin-bottom:1em;}
.entriesNav>ul>li{display:inline;margin:0 0.25em;}
#loadingImageBox{position:fixed;top:300px;left:300px;display:none;}
#sidebar{margin-top:1.5em;}
#adSearch,#adSence,#twitter,#recents,#ranking,#random,#tags,#profile,#powered{margin-bottom:2em;}
.twtr-hd{border-bottom:1px dashed #e7e7e7;}
.twtr-hd a,.twtr-ft a{background-image:none;border:none;}
.twtr-bd a{border:none;}
#recents>h4,#ranking>h4,#random>h4,#tags>h4,#profile>h4{font-weight:bold;border-bottom:1px dashed #e7e7e7;margin-bottom:1em;line-height:1.8em;}
.sideBarBaseLayout{margin-left:0.5em;margin-right:0.5em;font-size:0.9em;}
#recentEntries,#randomEntries,#tagNames{margin-left:0.5em;margin-right:0.5em;font-size:0.9em;line-height:2.2em;font-size:0.7em\9;list-style:none;}
#tagNames>li{display:inline;}
#profile>p{margin-left:0.5em;margin-right:0.5em;font-size:0.9em;font-size:0.8em\9;line-height:1.8em;}
#powered li{margin-bottom:1em;}
#footer{clear:both;margin-top:1em;padding-top:1em;border-top:1px dashed #E7E7E7;font-size:0.8em;font-weight:bold;text-align:center;}
#footer>a{color:#535353;}
#footer>a:hover{text-decoration:none;}
.white{color:#ffffff;}
.white>a{color:#ffffff;text-decoration:none;}
.blue{color:#049eda;}
.bgBlue{background-color:#04aeef;}
.green{color:#69b40f;}
.bgGreen{background-color:#73c510;}
.orange{color:#f8b101;}
.bgOrange{background-color:#f7b101;}
.pink{color:#d21674;}
.bgPink{background-color:#d31774;}
.purple{color:#95417c;}
.bgPurple{background-color:#97417a;}
