.pieBehavior{behavior:url(/site_media/css/2.0/PIE.htc);}
.entry{line-height:1.8em;margin-bottom:4em;}
.entryHeader{font-size:1.2em;border-bottom:1px dashed #e7e7e7;margin-bottom:1em;text-shadow:2px 2px 0 rgba(83, 83, 83, 0.09999999999999998);}
.entryHeader>h3{font-weight:bold;}
.entryHeader>h3:first-letter{font-size:2em;}
span.permalink{font-size:0.7em;vertical-align:middle;margin-left:0.2em;padding:0.1em 0.2em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;behavior:url(/site_media/css/2.0/PIE.htc);}
.pubdate{display:block;font-size:0.8em;text-align:right;vertical-align:top;margin-top:-1.5em;}
.entryFooter{}
.entry>p{margin-top:0.5em;margin-bottom:1em;margin-left:1.5em;}
.entry>p>img{padding:5px;border:1px solid #cccccc;-webkit-box-shadow:2px 2px 10px rgba(0, 0, 0, 0.2);-moz-box-shadow:2px 2px 10px rgba(0, 0, 0, 0.2);box-shadow:2px 2px 10px rgba(0, 0, 0, 0.2);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-pie-background:#ffffff;behavior:url(/site_media/css/2.0/PIE.htc);}
.entry>blockquote{margin:2em 3em;padding:1em 2em;background-color:#efefef;-webkit-border-top-left-radius:15px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:15px;-webkit-border-bottom-left-radius:0;-moz-border-radius-topleft:15px;-moz-border-raiuds-topright:0;-moz-border-radius-bottomright:15px;-moz-border-radius-bottomleft:0;border-radius:15px 0 15px 0;-webkit-box-shadow:1px 1px 0 #d6d6d6;-moz-box-shadow:1px 1px 0 #d6d6d6;box-shadow:1px 1px 0 #d6d6d6;behavior:url(/site_media/css/2.0/PIE.htc);}
.entryFooter>ul{font-size:0.8em;font-size:0.6em¥9;margin-left:4.5em;margin-bottom:1em;}
.entryFooter>ul>li{list-style-type:disc;_font-size:0.5em¥9;}
.entryTags>ul{font-size:0.8em;font-size:0.6em¥9;text-align:right;margin-right:1em;}
.entryTags>ul>li{display:inline;margin:0 0.2em;}
