.unenableWordwrap {
    overflow: visible;
    white-space: normal;
}
.pubdate {
    display: block;
    text-align: right;
    font-size: 0.8em;
    margin-top: -1.5em;
}
.entryTags {
    text-align: right;
}
.entryTags > ul > li {
    display: inline;
    margin-left: 0.5em;
}
#footer {
    text-align: center;
}
