{% extends "2.0/base.html" %}

{% block title %}- あーかいぶ{% endblock %}

{% block content %}
{% comment %}
<nav class="archives">
  {% for object in object_list %}
    {% ifchanged object.year %}
    {% if not forloop.first %}</ul></div>{% endif %}
    <div class="year">{{ object.year }} - <ul>{% endifchanged %}
      <li><a href="{{ object.get_absolute_url }}" data-pjax="#content">{{ object.month }}</a></li>
    {% if forloop.last %}
    </ul></div>
    {% endif %}
  {% endfor %}
</nav>
{% endcomment %}
{% include "2.0/archive_partial.html" %}
{% endblock %}

